@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans-Regular'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
body{
	font-family: "OpenSans", arial;
	overflow-y: auto;
  font-size: 14px;
}
/* punya bootstrap */
.container{padding-bottom: 16px}
.form-control{border-radius: 0px !important}
.navbar-light .navbar-nav .nav-link{margin: 0 24px}
.navbar-light .navbar-nav .nav-link img{filter: grayscale(100%);margin-right: 8px;position: relative;top: -2px;}
.nav-item.active a img{filter:none !important;}
.nav-item.active a{color: #4A90E2 !important;font-weight: bold;border-bottom: 5px solid #4A90E2;padding-bottom: 8px;}
.page-link{border:none;color: #4A90E2;margin: 0}
.page-link:focus,.page-link:active,.page-link.active-page{background-color: #4A90E2;border-radius: 50%;color: white;box-shadow: none;}
.page-link.tab:focus,.page-link.tab:active{border-radius: 0;}
.btn-primary{border-radius: 0;padding: 8px 16px;text-transform: uppercase;margin-top: 24px;}
.modal-dialog {min-height: calc(100vh - 60px);display: flex;flex-direction: column;justify-content: center;overflow: auto;}
@media(max-width: 768px) {.modal-dialog {min-height: calc(100vh - 20px);}}
.btn-primary {color: #fff;background-color: #4A90E2;border-color: #4A90E2;}
.btn-outline-primary {color: #4A90E2;background-color: transparent;background-image: none;border-color: #4A90E2}
.btn-outline-primary:hover {color: #fff;background-color: #4A90E2;border-color: #4A90E2;}

/* media screen */
@media screen and (max-width: 668px) and (min-width: 320px){
	.form-barcode{width: 100% !important}
	.invoice-status .title-radio .right.barcode{float: initial !important;margin-left: 16px;}
	.invoice-status .title-radio .right .form-date{margin-bottom: 8px;}
	.nav-item.active a{border-bottom: none;}
	.invoice-status .text.or{top: 0 !important;left: 0 !important}
  .invoice-datepicker{width: 100% !important}
  .invoice-datepicker .inline-block{width: auto !important}
  .login-bg{display: none}
  .login-mobile{background-color: #0078b0;}
  .login-mobile .formLine label{color: white;padding: 0 8px}
  .login-mobile .formLine img#eye,.login-mobile .formLine img#show-password{position: absolute;right: 24px;top: 14px;width: 20px}
  .login-mobile .formLine .no-login{margin: 0}
  .login-mobile .formLine .no-login a{color: white;}
  .login-mobile .formLine input{border:1px solid white !important;color: white;box-shadow: none !important;}
  .login-mobile .formLine input.valid:not(.browser-default), .login-mobile .formLine input:not(.browser-default), .login-mobile .formLine input.invalid:not(.browser-default):focus{padding: 0 8px;box-sizing: border-box;height: 45px;}
  .login-mobile .modal{top:0;bottom:0;position:fixed;left:0;right:0;z-index:1;height: 145px;}
  .login-mobile .modal .modal-content{background-color: white;padding: 24px 0}
  .login-mobile .modal .modal-content #close-modal{border-top: 1px solid #fafafa;padding-top: 8px}
  .login-mobile .modal .modal-content p{font-size: 13px;color: #4E4A4A}
  .input-field>label:not(.label-icon).active{color: white;display: none;}
  .opacity-modal{opacity: .4;background: black;top: 0;bottom: 0;position: fixed;pointer-events: none;}
  .card-content .logo{margin-bottom: 48px;}
}

/* general */
.block{display: block}
.margin-auto{margin: 0 auto;display: block}
.inline-block{display: inline-block;}
.relative{position: relative;}
.absolute{position: absolute;}
#spinner {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background-size: 10px 10px;background: url(../img/loading.gif) 50% 50% no-repeat rgb(249,249,249);opacity: .8;}
.blue-mobile{color:#007bff;}
.blue-mobile-bg{background-color:#007bff; }
a:hover{text-decoration: none;}
.red{color: red}
.input-field .helper-text{text-align: left;}
.input-field{margin-bottom: 0;margin-top: 8px;}

/* header */
.top{background-color: #f4f4f4;border:1px solid #DADADA;padding: 10px 20px;}
.top h3.logo{display:inline-block;font-size: 24px;color: white;background:orange;width:120px;padding:16px 8px;border-radius:8px;font-weight: bold; text-align: center;}
.top .title{display: inline-block;vertical-align: top;margin-left: 16px;}
.top .title .title-name{font-size: 18px;font-weight: bold;}
.top .title .bottom{margin-bottom: 4px}
.top .title .bottom .vendor-name{font-size: 14px;display: inline-block;}
.top .title .show-hide{color: #4A90E2;font-size: 12px;font-weight: bold;text-transform: uppercase;cursor: pointer}
.top .title .show-hide i {-moz-transition: transform .5s;-webkit-transition: transform .5s;transition: transform .5s;margin-left: 4px;}
.top .title .ac-small{display: none;font-size: 12px;margin: 4px 0}
.top .right{display: block;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);padding: 10px 20px;background-color: white;margin-top: 15px;}
.top .right .contact{font-size:12px;color: #5295E4;font-weight: bold;display: inline-block;text-transform: uppercase;}
.top .right .contact:nth-child(2){margin: 0 8px}
.flip {transform: rotate(-180deg);}

/* middle navbar */
.menu-top{border:1px solid #DADADA;padding: 0 16px;box-sizing: border-box;line-height: 40px;}
.middle .navbar-nav{color:#9B9B9B;}

/* main menu */
.menu{}
.menu .outer{margin:24px 0}
.menu .outer h3{font-size: 18px;line-height: 24px;}
.menu .outer .flex{display:flex;justify-content:space-between;margin: 16px 0}
.menu .outer .flex .field-content{border-radius: 4px;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);margin:0 16px;text-align: center;width: 200px;padding: 16px}
.menu .outer .flex .field-content .name{color: #4A90E2;font-weight: bold;margin: 8px 0}
.menu .outer .flex .field-content .text{color: grey;font-size: 12px}

/* invoice status */
.wrapper-invoice-status{box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);margin-top: 24px;padding: 0}
.message-announcement{background-color: #f4f4f4;font-weight: bold;font-size: 14px;padding: 16px;text-align: center;}
.invoice-status{padding: 24px;}
.invoice-status .text{font-size: 18px;font-weight: bold;margin: 8px 0}
.invoice-status .text.or{position: relative;top: -8px;left: 28px;font-weight: normal;}
.invoice-status .title-radio{width: 100%}
.invoice-status .title-radio .left{float:left;margin-top: 8px;}
.invoice-status .title-radio .left img{margin-left: 10px;position: relative;top: -2px;}
.tooltip-invoice{visibility: hidden;font-size:12px;background-color: #666;color: #fff;text-align: center;padding: 5px 10px;border-radius: 6px;position: absolute;z-index: 1;width: 385px;top: 24px;left: -180px;margin-top: 4px;}
.tooltip-invoice:before{font-family: 'Font Awesome\ 5 Free';content: "\f0d8";position: absolute;font-weight: 900;color: #666;font-size: 22px;top: -20px;left: auto;right: auto;}
.invoice-status .title-radio .left .icon-hint:hover .tooltip-invoice{visibility: visible;}
.invoice-status .title-radio .right{float:right;display: inline-block;}
.invoice-status .title-radio .right .form-barcode{border: 1px solid #DADADA;border-radius: 0;width: 478px;margin-right: 16px}
.invoice-status .title-radio .right .show-suggestion{border:1px solid #e0e0e0;display: none;width: 478px;position: absolute;top: 36px;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);padding: 8px 16px;background-color: white;z-index: 999;}
.invoice-status .title-radio .right .show-suggestion .top-popup{margin-bottom: 24px;font-weight: bold;}
.invoice-status .title-radio .right .show-suggestion .data{padding-bottom: 16px;}
.invoice-status .title-radio .right .show-suggestion .data:hover{color: #007bff;}
.invoice-status .title-radio .right .form-date{border-radius: 0}
.invoice-status .title-radio .text{margin-left: 28px;position: relative;top: -8px;}
.invoice-status .title-radio .right .form-date{border-radius: 0;border: 1px solid #DADADA;padding-left: 24px}
.invoice-status .title-radio .right .relative i{position: absolute;left: 8px;top: 11px;color: #555555}
.invoice-status .invoice-datepicker{width: 480px}
.invoice-status .invoice-datepicker .inline-block{width: 232px;}
.invoice-status .invoice-datepicker .inline-block:nth-child(2){width: 8px;}
.invoice-status .btn-primary i{margin-right: 8px;}

.invoice-barcode-number{padding: 0;border-radius: 0;}
.table-invoice-number{margin-top: 16px;border:1px solid #DADADA;}
.invoice-barcode-number .title-first{padding: 16px;background-color:#f4f4f4;font-size: 18px;}
.invoice-barcode-number .wrapper-table{padding: 0 16px} 
.invoice-barcode-number table{margin: 0;}
.invoice-barcode-number .wrapper-table .table td{border-top: none;border-bottom:1px solid #DADADA;font-size: 14px; }
.invoice-barcode-number .wrapper-table .table td:first-child{font-weight: 600;width: 30%;}
.invoice-barcode-number .wrapper-table .table td:nth-child(2){width: 5%}
.invoice-barcode-number .wrapper-table .table td:nth-child(4){font-weight: bold;padding-left: 32px}
.invoice-barcode-number .wrapper-table .table td.status{color:#F5A623;font-weight:600;}
.invoice-barcode-number .wrapper-table .table td.line{border-right:1px solid #DADADA;}
 .invoice-barcode-number .wrapper-table tbody > tr:last-child > td {border-bottom: 0;padding-bottom: 16px;}
.content-invoice-status{margin-top: 16px;}
.content-invoice-status .wrapper{margin-bottom: 16px}
.content-invoice-status .wrapper .float-left .text{font-size: 18px;margin: 16px 0}
.content-invoice-status .wrapper .float-left .text-small{margin: 16px 0;font-size: 14px;font-weight: 600;}
.content-invoice-status .wrapper .float-right{vertical-align: middle;}
.content-invoice-status .wrapper .float-right .btn-primary{background: #ffffff;color: #4A90E2;border:1px solid #007bff;}
.content-invoice-status .wrapper .float-right .btn-primary i{margin-left: 8px;}
.content-invoice-status .pagination{font-size: 14px;font-weight: 600;}
.content-invoice-status .table-responsive{border:1px solid #DADADA;margin-bottom: 16px;}
.content-invoice-status .table-responsive tr th{font-size: 14px;font-weight: 600;background-color: #F6F6F6;border: 1px solid #DADADA;border-left: none;border-right: none;}
.content-invoice-status .table-responsive tr td{font-size: 14px;}

/* payment schedule */
.payment-schedule .outer{box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);margin: 32px 0 24px;padding: 24px;} 
.payment-schedule .outer h3{font-size: 18px;line-height: 24px;}
.payment-schedule .outer .title-panel{border-left:4px solid #F5A623;background-color: #F5F5F5;padding: 8px 16px;box-sizing: border-box;font-weight: bold;}
.payment-schedule .outer .detail-panel{border: 1px solid #DDDDDD;padding: 8px 20px;}
.payment-schedule .accordion a.dropdown{position:relative;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;width:100%;padding:1rem 3rem 1rem 1rem;font-weight:400;border-bottom:1px solid #DADADA;color:#000;font-weight: bold;}
.payment-schedule .accordion a.dropdown.active,.payment-schedule .accordion a.dropdown::after{border-bottom: none;}
.payment-schedule .accordion a.dropdown:hover,.payment-schedule .accordion a.dropdown:hover::after{cursor:pointer;color:#08164e}
.payment-schedule .accordion a.dropdown::after{width:16px;height:16px;background:url(../img/expand-icon.svg) no-repeat; position:absolute;right:24px;top:15px;content:" ";transition:all .6s ease;color:#000;transform:rotateZ(180deg)}
.payment-schedule .accordion a.dropdown.active::after{transform:rotateZ(0deg)}
.payment-schedule .accordion .content{display:none;padding:1rem;border-bottom:1px solid #e5e5e5;overflow:hidden}
.payment-schedule .accordion .content p{font-weight:300;color: #4A4A4A}
.payment-schedule table{width: 100%}
.payment-schedule table td:first-child{font-weight: bold;width: 30%;vertical-align: top}
.payment-schedule table td:nth-child(2){width: 5%;vertical-align: top}
.payment-schedule table td:nth-child(3){width: 65%;color: #4A4A4A}
.payment-schedule table td ul{margin: 0;padding: 0;}


label{cursor: pointer;}
.radio-button{-webkit-appearance: none;width: 15px;height: 15px;background: #fff;border-radius: 50%;outline: 0;border: 1px solid #4A90E2;margin-right: 8px;cursor: pointer;position: relative;top: 2px;}
.radio-button:hover{box-shadow:0 0 5px 0px #4A90E2; inset;}
.radio-button:before{content:'';display:block;width:55%;height:55%;margin: 25%;border-radius:50%;}
.radio-button:checked:before{background:#4A90E2;}

/* login */
.login{margin: 0;padding: 0;}
.login .left{margin: 0 !important;padding: 0}
.login .login-bg{padding-left: 0;position: relative;}
.login .login-bg img{width: 100%}
.login .login-bg .title-company{position: absolute;transform:translate(-50%,-100%);left: 50%;top:50%;-webkit-transform: translate(-50%, -100%);}
.login .login-bg .title-company h3{font-size: 24px;color: white;background:orange;width:120px;padding:16px 8px;border-radius:8px;font-weight: bold; text-align: center;}
.login .login-bg .title-company div{color: white;font-size: 20px}
.login .layer {background-color: rgba(0, 0, 0, 0.5);position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.login .right{margin-top: 24px;}
.login .right .btn-login{width: 100%;border-radius: 0;box-shadow: none;margin: 32px 0;}
.login .info-login{right: 24px;top: 12px;}
.login .info-login #info{width: 16px}
.login .info-login-tooltip{visibility: hidden;font-size:12px;background-color: #ffffff;color: #0078B0;border:1px solid #0078B0;text-align: center;padding: 5px 10px;border-radius: 6px;position: absolute;z-index: 1;top: -56px;right: -24px;width: 200px;}
.login .info-login-tooltip i{position: absolute;right: 20px;bottom: -14px;color: white}
.login .info-login:hover .info-login-tooltip{visibility: visible;}
.img-bottom{margin-top: 16px;width: 50%}


/* chatbox */
.chatbox{width: 392px;height:462px;border:1px solid #dadada;position: relative;bottom: 32px;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);}
.chatbox .chatlogs{padding: 10px;width: 100%;height: 398px;background-color: #fbfbfb;overflow-x: hidden;overflow-y: scroll;}
.chatbox .chatlogs::-webkit-scrollbar{width: 10px;}
.chatbox .chatlogs::-webkit-scrollbar-thumb{border-radius: 5px;background: rgba(0,0,0,0.1)}
.chatbox .chatlogs .chat{display: flex;flex-flow: row wrap;align-items: flex-start;margin-bottom: 10px;}
.chatbox .chatlogs .chat .user-photo{width: 50px;height: 50px;background-color: #ccc;border-radius: 50%;overflow: hidden;}
.chatbox .chatlogs .chat .user-photo img{width: 100%}
.chatbox .chatlogs .chat .chat-message{width: 70%;padding: 8px;margin: 5px 10px 0;border-radius: 10px;font-size: 12px;position: relative;}
.chatbox .chatlogs .chat .chat-message .isi-chat{padding: 0 8px 8px 8px;}
.chatbox .chatlogs .chat .chat-message .waktu{position: absolute;bottom: 1px;right: 8px;color: #9B9B9B}
.chatbox .chatlogs .chat .chat-message .btn{font-size:14px;background-color: white;color:#5A9AE5;box-shadow: none;border-radius: 4px;border:1px solid #5A9AE5; margin: 4px 0;text-transform: initial;width: 150px}
.chatbox .chatlogs .chat.self{justify-content: flex-end;}
.chatbox .chatlogs .chat.self .chat-message .waktu{color: white}
.chatbox .chatlogs .chat.friend .chat-message{background-color: white; border:1px solid #dadada;}
.chatbox .chatlogs .chat.self .chat-message{background:#4A90E2;order: -1;color: white;}
.chatbox .chat-form{display: flex;align-items: flex-start;margin: 0 -1px;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);}
.chatbox .chat-form textarea{background-color: #fbfbfb;width: 100%;padding: 10px;height: 50px;resize: none;}
.chatbox .chat-form textarea:focus{background-color: white}
.chatbox .chat-form textarea::-webkit-scrollbar{width: 10px;}
.chatbox .chat-form textarea::-webkit-scrollbar-thumb{border-radius: 5px;background: rgba(0,0,0,0.1)}
.chatbox .chat-form .send{border:none;padding: 7px 16px;border-radius: 0;font-size: 24px;color: white;background-color: #4A90E2;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);cursor: pointer;}
.chatbox #close{float:right;font-size: 24px;cursor: pointer;color: white;margin-top: 8px}
.chatbox-wrapper{position: fixed;bottom: 8px;right: 40px}
.chatbox-wrapper .photo-admin-wrapper{background-color: #4A4A4A;height: 64px;padding: 6px;}
.chatbox-wrapper .photo-admin{overflow: hidden; float: left;display: flex;}
.chatbox-wrapper .photo-admin img{width: 50px;height: 50px;border-radius: 50%;}
.chatbox-wrapper .photo-admin .name{color: white;vertical-align: middle;padding-top: 4px;margin-left:12px;font-size: 16px}
.chatbox-wrapper .photo-admin .name .small{font-size: 12px;color: white}
.chatbox-wrapper #chatbot{float: right;cursor: pointer;}

/* modal */
.stepTwo,.stepThree,.stepFour{display: none;}
.step{padding: 24px 32px}
.text{color: #4a4a4a}
.step .btn img{width: 16px;position: relative;top: -1px;margin-left: 4px;}
.main{font-size: 18px}
.last-update{margin: 16px 0}
.second{font-size: 12px;}
.third{font-size: 14px;}
.step textarea{resize: none;}
.close-modal{width: 50%;margin:0 auto 16px;border-radius: 0}

.max-range{font-size: 12px;margin-left: 24px;position: relative;top: -24px;}
.invoice-empty{margin: 24px auto;display: table;}
.invoice-empty .border{border:1px solid #dadada;padding: 24px}
.invoice-empty .border .right-side{padding-left: 16px;vertical-align: middle;}

/* Stepper */
.wrapper-progressBar{width: 100%}
.progressBar{}
.progressBar li{list-style-type: none;float: left;width: 33%;position: relative;text-align: center;}
.progressBar li:before{content: " ";line-height:30px;border-radius: 50%; width: 30px;height: 30px;border:1px solid #ddd;display: block;text-align: center;margin: 0 auto 10px;background-color: #ddd}
.progressBar li:after{content: "";position: absolute;width: 100%;height: 7px;background-color: #ddd;top: 12px;left: -50%;z-index: -1;}
.progressBar li:first-child:after{content: none;}
.progressBar li.active{color: #4A90E2;}
.progressBar li.active:before{border-color: #4A90E2;background-color: #4A90E2}
.progressBar .active:after{background-color: #4A90E2;} 