<div class="chatbox-wrapper">
	<div class="chatbox">
	<div class="photo-admin-wrapper">
	<div class="photo-admin">
		<img src="img/user2.PNG" alt="">
		<div class="name">	
			<div>Admin Name</div>
			<div class="small">Your Favorite Helper</div>
		</div>
	</div>
	<i class="fas fa-times btn" id="close"></i>
	</div>
		<div class="chatlogs">
			<!-- 1 chat admin and user -->
			<div class="chat friend">
				<div class="user-photo">
					<img src="img/user2.PNG" alt="">
				</div>
				<div class="chat-message">
					<div class="isi-chat">
						Hi, I'm Pevita can I help you?
						<div class="text-center">
							<a href="/eipos-mobile/invoice-status.html" class="waves-effect waves-light btn">Check Invoice</a>
							<a href="/eipos-mobile/payment-schedule.html" class="waves-effect waves-light btn">Check PO</a>
							<a href="/eipos-mobile/invoice-requirement.html" class="waves-effect waves-light btn">Check Expanse</a>
							<a href="/eipos-mobile/faq.html" class="waves-effect waves-light btn">FAQ</a>
						</div>
					</div>					
					<div class="waktu small">10:30</div>
				</div>
			</div>
			<div class="chat self">
				<div class="chat-message">
					<div class="isi-chat">
						Lorem ipsum dolor
					</div>					
					<div class="waktu small">10:30</div>
				</div>
			</div>
			<!-- end chat 1 admin and user -->
		</div>

		<div class="chat-form">
			<textarea name="chat-form" class="materialize-textarea" id="textarea" cols="30" rows="10" placeholder="Type your message..."></textarea>
			<button class="send" id="send"><i class="fas fa-paper-plane"></i></button>
		</div>
	</div>
	<img src="img/chatbot.svg" alt="" class="btn" id="chatbot">
</div>

<div class="footer">
	<hr>
	<div class="text-center">
		<strong>&copy; Eipos 2018</strong>
	</div>
</div>

<script>
	$(".chatbox").hide();
		$("#chatbot").click(function(){
			$(".chatbox").slideToggle()
		})

		$("#close").click(function(){
			$(".chatbox").slideUp()
		})

	/*$("#textarea").keypress(function(e){
		if (e.which == 13){
			console.log("entered")
			$(this).val("")
			e.preventDefault();
		}
	})*/

	$("#send").click(function(){
		var newMessage = $("#textarea").val();
          $("#textarea").val("");
          var prevStateone = $(".chatlogs").html();
          var prevStatetwo = $(".chat.self").html();
          $(".chatlogs").html( prevStateone + "<div class='chat self'><div class='chat-message'><div class='isi-chat'>"+ newMessage +"</div><div class='waktu small'>10:30</div></div></div>")
	})

	$('#textarea').keyup(function (event) {
		var userMessage = $('#textarea').val();
       if (event.keyCode == 13 && event.shiftKey) {
           var content = this.value;
           var caret = getCaret(this);
           this.value = content.substring(0,caret)+"\n"+content.substring(carent,content.length-1);
           event.stopPropagation();
           
      }else if(event.keyCode == 13)
      {
        
          var newMessage = $(this).val();
          $(this).val("");
          var prevStateone = $(".chatlogs").html();
          var prevStatetwo = $(".chat.self").html();

          $(".chatlogs").html( prevStateone + "<div class='chat self'><div class='chat-message'><div class='isi-chat'>"+ newMessage +"</div><div class='waktu small'>10:30</div></div></div>")
      }
	});
	function getCaret(el) { 
	  if (el.selectionStart) { 
	    return el.selectionStart; 
	  } else if (document.selection) { 
	    el.focus(); 

	    var r = document.selection.createRange(); 
	    if (r == null) { 
	      return 0; 
	    } 

	    var re = el.createTextRange(), 
	        rc = re.duplicate(); 
	    re.moveToBookmark(r.getBookmark()); 
	    rc.setEndPoint('EndToStart', re); 

	    return rc.text.length; 
	  }  
	  return 0; 
	}
</script>