<div class="top">
	<div class="float-left block">
		<a href="/eipos/">
			<h3 class="logo">EIPOS</h3>
		</a>
		<div class="title">
			<div class="title-name">
				PT. New Praktika Alkesindo
			</div>
			<div class="bottom block">
				<div class="vendor-name">
					<strong>Vendor ID</strong> : 1234567890
				</div>
				<span>|</span>
				<div class="inline-block"><strong>Email</strong> : ariel@praktika.co.id</div>
			</div>
            <div class="ac-small">
				<span>MENARA ANUGERAH 7TH,8TH,9TH FLOOR KANTOR</span><br>
				<span>TAMAN E.3.3, JLN MEGA KUNINGAN LOT 8.6-8.7, KAWASAN MEGA KUNINGAN</span><br>
				<span>JAKARTA, 123456</span>
			</div>
			<div class="show-hide"> <b>Show Less Info</b><i class="fas fa-chevron-circle-up"></i></div>		
		</div>	
		<button type="button" class="btn btn-outline-info btn-sm" id="toFaq">FAQ</button>	
	</div>
	<div class="float-right">
		<div class="right">
			<div class="contact">Contact Us</div>
			<div class="contact">|</div>
			<div class="contact">Sign Out</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="middle">
	<nav class="navbar navbar-expand-lg navbar-light menu-top">
	  <a class="navbar-brand" href="#">Go To:</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/eipos/invoice-status.html"><img src="img/notes.svg" alt="" width="24">Invoice Status</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/eipos/payment-schedule.html"><img src="img/calendar.svg" alt="" width="24">Payment Schedule</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/eipos/invoice-requirement.html"><img src="img/todolist.svg" alt="" width="24">Invoice Requirement</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/eipos/faq.html"><img src="img/faq.svg" alt="" width="24"> FAQ</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<!-- <ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link active" href="#">Invoice Status</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Payment Schedule</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Invoice Requirement</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">FAQ</a>
	  </li>
	</ul> -->
</div>

<script>
	var url = window.location.pathname, 
    urlRegExp = new RegExp(url.replace(/\/$/,'') + "$");
    console.log(url);
    if (url == "/eipos/invoice-status.html"){
        $("ul.navbar-nav > *:nth-child(1)").addClass("active")
    }
    if (url == "/eipos/faq.html"){
        $("ul.navbar-nav > *:nth-child(4)").addClass("active")
    }
    if (url == "/eipos/invoice-requirement.html"){
        $("ul.navbar-nav > *:nth-child(3)").addClass("active")
    }
    if (url == "/eipos/payment-schedule.html"){
        $("ul.navbar-nav > *:nth-child(2)").addClass("active")
    }

    $('.show-hide').click(function(){
        var link = $(this);
        $('.ac-small').slideToggle('slow', function() {
            if ($(this).is(":visible")) {
                link.text('Show Less info');                
				link.append('<i class="fas fa-chevron-circle-up flip"></i>');
            } else {
                link.text('Show Detailed Info');
				link.append('<i class="fas fa-chevron-circle-up"></i>');                
            }        
        });	            
    });

    $("#toFaq").click(function(){
    	window.location.href = '/eipos/faq.html';
    	/*$(".accordion-item .dropdown").first().addClass("active")
    	$(".accordion-item .content").first().css("display","block")*/

    })
</script>